body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 4px;
}

table th, table td {
    text-align: left;
}

tr:hover {
    transition: 0.2s;
}
